<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.zion.baekhyang14" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Zion_BaekhyangFest" >
        <activity
            android:name="kr.hs.zion.baekhyang14.Main"
            android:label="@string/app_name"
            android:theme="@style/Theme.Zion_BaekhyangFest.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.hs.zion.baekhyang14.FindBooth"
            android:label="@string/title_activity_find_booth"
            android:parentActivityName="kr.hs.zion.baekhyang14.Main"
            android:theme="@style/Theme.Zion_BaekhyangFest.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.Main" />
        </activity>
        <activity
            android:name="kr.hs.zion.baekhyang14.PerformanceSchedule"
            android:label="@string/title_activity_performance_schedule"
            android:parentActivityName="kr.hs.zion.baekhyang14.Main"
            android:theme="@style/Theme.Zion_BaekhyangFest.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.Main" />
        </activity>
        <activity
            android:name="kr.hs.zion.baekhyang14.PerformanceDetail"
            android:label="@string/title_activity_performance_detail"
            android:parentActivityName="kr.hs.zion.baekhyang14.PerformanceSchedule"
            android:theme="@style/Theme.Zion_BaekhyangFest.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.PerformanceSchedule" />
        </activity>
        <activity
            android:name="kr.hs.zion.baekhyang14.Help"
            android:label="@string/title_activity_help"
            android:parentActivityName="kr.hs.zion.baekhyang14.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.Main" />
        </activity>
        <activity
            android:name="kr.hs.zion.baekhyang14.About"
            android:label="@string/title_activity_about"
            android:parentActivityName="kr.hs.zion.baekhyang14.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.Main" />
        </activity>
        <activity
            android:name="kr.hs.zion.baekhyang14.LegalNotices"
            android:label="@string/title_activity_legal_notices"
            android:parentActivityName="kr.hs.zion.baekhyang14.About" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.About" />
        </activity>
        <activity
            android:name="kr.hs.zion.baekhyang14.DocsActivity"
            android:label="@string/title_activity_docs"
            android:parentActivityName="kr.hs.zion.baekhyang14.LegalNotices" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.LegalNotices" />
        </activity>
        <activity
            android:name="kr.hs.zion.baekhyang14.BoothDetails"
            android:label="@string/title_activity_booth_details"
            android:parentActivityName="kr.hs.zion.baekhyang14.FindBooth"
            android:theme="@style/Theme.Zion_BaekhyangFest.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.FindBooth" />
        </activity>
    </application>

</manifest>
