<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.zion.baekhyang14" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Zion_BaekhyangFest" >
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/Theme.Zion_BaekhyangFest.Overlay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FindBooth"
            android:label="@string/title_activity_find_booth"
            android:parentActivityName=".Main"
            android:theme="@style/Theme.Zion_BaekhyangFest.Overlay" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.Main" />
        </activity>
        <activity
            android:name=".PerformanceSchedule"
            android:label="@string/title_activity_performance_schedule"
            android:parentActivityName=".Main"
            android:theme="@style/Theme.Zion_BaekhyangFest.Overlay" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.Main" />
        </activity>
        <activity
            android:name=".PerformanceDetail"
            android:label="@string/title_activity_performance_detail"
            android:parentActivityName=".PerformanceSchedule" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.PerformanceSchedule" />
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.Main" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.hs.zion.baekhyang14.Main" />
        </activity>
    </application>

</manifest>
